{% if (section_id|default(null)) == 'posts' or (section_id|default(null)) == 'forms' %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">  
      <div class="menu-header-post menu-header-post-vrai">
        <div class="menu-header-pos-div">
              {% for item in current_project.header %}

                          <a href="{{ item.url }}"
                             {% if item.openNewTab %}target="_blank" rel="noopener noreferrer"{% endif %} class="link-menu-header-post">
                              {{ item.label }}
                          </a>

                {% endfor %}
         </div>
         <div class="menu-header-post-div-link">
            <a href="">Cadre-territorial.fr</a>
         </div>
       </div>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">  
      <div class="menu-header-post menu-header-page-vrai">
        <div class="menu-header-pos-div">
              {% for item in current_project.header %}

                          <a href="{{ item.url }}"
                             {% if item.openNewTab %}target="_blank" rel="noopener noreferrer"{% endif %} class="link-menu-header-page">
                              {{ item.label }}
                          </a>

                {% endfor %}
         </div>
         <div class="menu-header-page-div-link">
            <a href="">Cadre-territorial.fr</a>
         </div>
       </div>
    </div>
  </div>
</div>
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-lg-12"> 

        {% if (section_id|default(null)) == 'posts' %}
        <h1 class="title-posts">{{ title }}</h1>
        {% endif %}
        {% if (section_id|default(null)) == 'forms' %}
        <h1 class="title-forms">{{ title }}</h1>
        {% endif %}
        {% if (section_id|default(null)) == 'pages' %}
        <h1 class="title-pages">{{ title }}</h1>
        {% endif %}
        {% if date|default(null) or categories|default([])|length > 0 %}
            <div class="content-splash-metadata">
                {% if date|default(null) %}
                    <div class="content-splash-metadata-published-at">
                        {{ date }}
                    </div>
                {% endif %}

                {% if categories|default([])|length > 0 %}
                    <div class="content-splash-metadata-categories">
                        {% for name, url in categories %}
                            <a href="{{ url }}">{{ name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}




    <div class="">
        {{ content|raw }}
    </div>


    </div> 
  </div>
</div>
<div class="article-suggere">
  <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="article-suggere-div">
                    <p>D’autres informations qui pourraient vous intéresser</p>
                    <a href="">Voir toutes les informations</a>
                  </div>
                </div>
              </div>
      {% if more|default([])|length > 0 %}
              <div class="row">
                  {% for other in more|default([]) %}
                      <div class="col-12 col-md-6 col-lg-4">
  
  
                              <a href="{{ other.url }}">
                                <div class="article-suggere-proposition">
                                  <h2>{{ other.title }}</h2>
                                </div>
                              </a>
  
  
  
  
                      </div>
                  {% endfor %}
              </div>
  
      {% endif %}
  </div>
</div>
