<div class="content">
    <div class="content-splash">


        <h1>{{ title }}</h1>

        {% if date|default(null) or categories|default([])|length > 0 %}
            <div class="content-splash-metadata">
                {% if date|default(null) %}
                    <div class="content-splash-metadata-published-at">
                        {{ date }}
                    </div>
                {% endif %}

                {% if categories|default([])|length > 0 %}
                    <div class="content-splash-metadata-categories">
                        {% for name, url in categories %}
                            <a href="{{ url }}">{{ name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}



    </div>

    <div class="content-publication">
        {{ content|raw }}
    </div>

    {% if more|default([])|length > 0 %}
        <div class="content-more">
            <div class="row justify-content-center">
                {% for other in more|default([]) %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="content-more-item box-offset">
                            <div class="content-more-item-thumbnail">

                            </div>

                            <a href="{{ other.url }}" class="stretched-link list-items-item-link">
                                <h5 class="list-items-item-title">
                                    <span>{{ other.title }}</span>
                                </h5>
                            </a>



                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
